Repository KlimaDAO/klimadao, pull requests merged in 2024-02, with the labels that each got.

#2006 [Provenance QA] Carbon provenance implementation
  carbonmark/.generated/carbonmark-api-sdk/types/PostLogin.ts
  carbonmark/.generated/carbonmark-api-sdk/types/PostLoginVerify.ts
  carbonmark/components/Quantity/index.tsx
  carbonmark/components/Quantity/styles.ts
  carbonmark/components/SocialLinks/index.tsx
  carbonmark/components/SocialLinks/styles.ts
  carbonmark/components/pages/Retirements/RetirementProvenance/ProvenanceComponent/index.tsx
  carbonmark/components/pages/Retirements/RetirementProvenance/ProvenanceComponent/styles.ts
  carbonmark/components/pages/Retirements/RetirementProvenance/ProvenanceTimeline/index.tsx
  carbonmark/components/pages/Retirements/RetirementProvenance/ProvenanceTimeline/styles.ts
  carbonmark/components/pages/Retirements/RetirementProvenance/RetirementCard/index.tsx
  carbonmark/components/pages/Retirements/RetirementProvenance/RetirementCard/styles.ts
  carbonmark/components/pages/Retirements/RetirementProvenance/RetirementProvenance.constants.tsx
  carbonmark/components/pages/Retirements/RetirementProvenance/RetirementProvenance.types.ts
  carbonmark/components/pages/Retirements/RetirementProvenance/RetirementProvenance.utils.ts
  carbonmark/components/pages/Retirements/RetirementProvenance/index.tsx
  carbonmark/components/pages/Retirements/RetirementProvenance/styles.ts
  carbonmark/components/pages/Retirements/SingleRetirement/ProjectDetails/index.tsx
  carbonmark/components/pages/Retirements/SingleRetirement/ShareDetails/index.tsx
  carbonmark/components/pages/Retirements/SingleRetirement/ShareDetails/styles.ts
  carbonmark/components/pages/Retirements/SingleRetirement/index.tsx
  carbonmark/lib/constants.ts
  carbonmark/lib/retirementCertificates/index.ts
  carbonmark/lib/utils/string.utils.ts
  carbonmark/lib/waitForApi.ts
  carbonmark/pages/api/certificates/[beneficiaryAddress]/[retirementIndex]/index.ts
  carbonmark/pages/portfolio/[project_token_0x]/retire/index.tsx
  carbonmark/pages/retirements/[beneficiary]/[retirement_index]/index.tsx
  carbonmark/pages/retirements/[beneficiary]/[retirement_index]/provenance/index.tsx
  carbonmark/theme/typography.ts
  lib/components/CopyValueButton/index.tsx
  lib/constants/index.ts
  lib/utils/index.ts
  lib/utils/insertWhiteSpaces/index.ts
Labels: QA done, carbonmark

#2178 [retire] disable fiat payments for icr projects
  carbonmark/components/pages/Project/Retire/Pool/RetireForm.tsx
  carbonmark/components/pages/Project/Retire/Pool/RetireInputs.tsx
  carbonmark/lib/getPaymentMethods.ts
  carbonmark/lib/types/carbonmark.types.ts
  carbonmark/lib/waitForApi.ts
Labels: QA done, carbonmark

#2188 add tokenId to listings
  carbonmark-api/package.json
  carbonmark-api/src/.generated/mocks/marketplace.mocks.ts
  carbonmark-api/src/.generated/types/marketplace.types.ts
  carbonmark-api/src/app.constants.ts
  carbonmark-api/src/graphql/marketplace.fragments.gql
  carbonmark-api/src/models/Listing.model.ts
Labels: carbonmark-api

#2189 [api] Standardize quantity/amount handling
  carbonmark-api/package.json
  carbonmark-api/src/app.constants.ts
  carbonmark-api/src/routes/purchases/get.utils.ts
  carbonmark-api/src/routes/users/[walletOrHandle]/get.ts
  carbonmark-api/src/utils/helpers/activities.utils.ts
  carbonmark-api/src/utils/marketplace.utils.ts
  carbonmark-api/test/fixtures/marketplace.ts
  carbonmark-api/test/routes/projects/[id]/get.test.ts
  carbonmark-api/test/routes/projects/get.test.mocks.ts
Labels: carbonmark-api

#2231 fix wrapping issues
  carbonmark/components/pages/Retirements/SingleRetirement/BeneficiaryDetails/index.tsx
  carbonmark/components/pages/Retirements/SingleRetirement/BeneficiaryDetails/styles.ts
  carbonmark/components/pages/Retirements/SingleRetirement/TransactionDetails/index.tsx
  carbonmark/components/pages/Retirements/SingleRetirement/TransactionDetails/styles.ts
Labels: QA done

#2232 fix showing the handle instead of beneficary address
  carbonmark/components/pages/Retirements/SingleRetirement/BeneficiaryDetails/index.tsx
Labels: QA done

#2234 fix:2117 Footer padding
  carbonmark/components/Footer/styles.ts
  carbonmark/components/pages/Home/index.tsx
Labels: QA done

#2236 Conditional Copy for 1155 Approvals
  carbonmark/components/CreateListing/Transaction/Approve.tsx
  carbonmark/components/CreateListing/Transaction/index.tsx
  carbonmark/components/CreateListing/index.tsx
  carbonmark/components/pages/Users/SellerConnected/ListingEditable.tsx
Labels: QA done

#2146 [carbonmark] navigation redesign
  app/components/NavMenu/styles.ts
  carbonmark/components/BetaBadge/index.tsx
  carbonmark/components/BetaBadge/styles.ts
  carbonmark/components/FeatureBanner/styles.ts
  carbonmark/components/Footer/styles.ts
  carbonmark/components/Layout/MenuButton/index.tsx
  carbonmark/components/Layout/MenuButton/styles.ts
  carbonmark/components/Layout/NavDrawer/index.tsx
  carbonmark/components/Layout/NavDrawer/styles.ts
  carbonmark/components/Layout/NavDropdown/index.tsx
  carbonmark/components/Layout/NavDropdown/styles.ts
  carbonmark/components/Layout/TopMenu/index.tsx
  carbonmark/components/Layout/TopMenu/styles.ts
  carbonmark/components/Layout/index.tsx
  carbonmark/components/Layout/styles.ts
  carbonmark/components/Logos/CarbonmarkLogo.tsx
  carbonmark/components/Logos/CarbonmarkLogoBlue.tsx
  carbonmark/components/Logos/CarbonmarkText.tsx
  carbonmark/components/SearchInput/index.tsx
  carbonmark/components/SearchInput/styles.ts
  carbonmark/components/UserProfile/index.tsx
  carbonmark/components/UserProfile/styles.ts
  carbonmark/components/pages/Blog/Post/index.tsx
  carbonmark/components/pages/Blog/Post/styles.ts
  carbonmark/components/pages/Home/styles.ts
  carbonmark/components/pages/Portfolio/Retire/index.tsx
  carbonmark/components/pages/Portfolio/index.tsx
  carbonmark/components/pages/Project/PayWithBank/styles.ts
  carbonmark/components/pages/Project/Purchase/index.tsx
  carbonmark/components/pages/Project/Retire/index.tsx
  carbonmark/components/pages/Project/Retire/styles.ts
  carbonmark/components/pages/Project/index.tsx
  carbonmark/components/pages/Projects/ProjectFilters/styles.ts
  carbonmark/components/pages/Projects/ProjectSearch/index.tsx
  carbonmark/components/pages/Projects/ProjectSearch/styles.ts
  carbonmark/components/pages/Projects/ProjectsController/index.tsx
  carbonmark/components/pages/Projects/ProjectsController/styles.ts
  carbonmark/components/pages/Projects/index.tsx
  carbonmark/components/pages/Projects/styles.ts
  carbonmark/components/pages/Resources/ResourcesList/styles.ts
  carbonmark/components/pages/Resources/index.tsx
  carbonmark/components/pages/Resources/styles.ts
  carbonmark/components/pages/Retire/FromPortfolio/styles.ts
  carbonmark/components/pages/Retire/index.tsx
  carbonmark/components/pages/Retire/styles.ts
  carbonmark/components/pages/Users/Login/index.tsx
  carbonmark/components/pages/Users/SellerConnected/index.tsx
  carbonmark/components/pages/Users/SellerUnconnected/index.tsx
  carbonmark/components/pages/errors/styles.ts
  carbonmark/components/shared/Header/HeaderMobile.tsx
  carbonmark/theme/globals.css
  carbonmark/theme/variables.css
Labels: QA done, carbonmark

#2245 [API] Update subgraph version to include `UpdatedExpiration` event
  carbonmark-api/package.json
  carbonmark-api/src/.generated/mocks/marketplace.mocks.ts
  carbonmark-api/src/.generated/types/marketplace.types.ts
  carbonmark-api/src/app.constants.ts
  package-lock.json
Labels: QA done, carbonmark-api

#2261 [ICR listing] Fix update listing minFillAmount for different decimals
  carbonmark/lib/actions.ts
Labels: HIGH PRIORITY, QA done, carbonmark

#2270 [CM] Add code of ethics link to footer
  app/locale/en-pseudo/messages.po
  app/locale/en/messages.po
  carbon/locale/en-pseudo/messages.po
  carbon/locale/en/messages.po
  carbonmark/components/Footer/index.tsx
  carbonmark/components/Footer/styles.ts
  carbonmark/components/Layout/styles.ts
  carbonmark/locale/en-pseudo/messages.po
  carbonmark/locale/en/messages.po
Labels: QA done

#2274 [provenance] fix layout issues with GridContainer
  carbonmark/components/pages/Retirements/RetirementProvenance/ProvenanceComponent/index.tsx
  carbonmark/components/pages/Retirements/RetirementProvenance/ProvenanceTimeline/styles.ts
  carbonmark/components/pages/Retirements/RetirementProvenance/index.tsx
  carbonmark/components/pages/Retirements/RetirementProvenance/styles.ts
  carbonmark/components/pages/Retirements/SingleRetirement/index.tsx
  carbonmark/components/pages/Retirements/SingleRetirement/styles.ts
  carbonmark/components/pages/Retirements/index.tsx
  carbonmark/components/pages/Retirements/styles.ts
Labels: bug, QA done

#2265 [listings] Update to use subgraph version with updatedExpiration event
  carbonmark/.generated/carbonmark-api-sdk/client.ts
  carbonmark/.generated/carbonmark-api-sdk/schemas/Listing.json
  carbonmark/.generated/carbonmark-api-sdk/schemas/Project.json
  carbonmark/.generated/carbonmark-api-sdk/schemas/User.json
  carbonmark/.generated/carbonmark-api-sdk/types/GetActivities.ts
  carbonmark/.generated/carbonmark-api-sdk/types/GetListingsId.ts
  carbonmark/.generated/carbonmark-api-sdk/types/GetProjects.ts
  carbonmark/.generated/carbonmark-api-sdk/types/GetProjectsId.ts
  carbonmark/.generated/carbonmark-api-sdk/types/GetProjectsIdActivity.ts
  carbonmark/.generated/carbonmark-api-sdk/types/GetUsersWalletorhandle.ts
  carbonmark/.generated/carbonmark-api-sdk/types/Listing.ts
  carbonmark/.generated/carbonmark-api-sdk/types/PostLogin.ts
  carbonmark/.generated/carbonmark-api-sdk/types/PostLoginVerify.ts
  carbonmark/.generated/carbonmark-api-sdk/types/Project.ts
  carbonmark/.generated/carbonmark-api-sdk/types/User.ts
  carbonmark/.generated/carbonmark-api.schema.json
  carbonmark/components/Activities/Activities.constants.ts
  carbonmark/components/Activities/Activity.tsx
  carbonmark/components/pages/Project/index.tsx
  carbonmark/lib/constants.ts
  carbonmark/lib/types/carbonmark.types.ts
  lib/constants/index.ts
Labels: QA done

#2250 Remove ICR API from filters (and carbonmark-api)
  carbonmark-api/package.json
  carbonmark-api/src/app.constants.ts
  carbonmark-api/src/routes/countries/get.ts
  carbonmark-api/src/routes/projects/get.ts
  carbonmark-api/src/routes/projects/get.utils.ts
  carbonmark-api/src/routes/vintages/get.ts
  carbonmark-api/src/utils/ICR/icr.utils.ts
  carbonmark-api/src/utils/helpers/utils.ts
  carbonmark-api/test/plugins/rate-limit.test.ts
  carbonmark-api/test/routes/countries/get.test.ts
  carbonmark-api/test/routes/projects/get.test.mocks.ts
  carbonmark-api/test/routes/projects/get.test.ts
  carbonmark-api/test/routes/vintages/get.test.ts
  package-lock.json
Labels: carbonmark-api

#2288 [klima data] make sort icons visible
  carbon/components/charts/helpers/DataTable/VerticalTableHeader/index.tsx
  carbon/components/charts/helpers/DataTable/VerticalTableHeader/styles.module.scss
Labels: QA done, klima data

#2083 Fix token prices cache
  carbon/components/cards/overview/TokensPriceCard/index.tsx
  carbon/lib/charts/queries.ts
  carbon/lib/constants.ts
Labels: QA done
